
.Footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 66px;
    padding-top: 18px;
    padding-bottom: 21px;
}

.Footer p {
    font-size: 13px;
    font-weight: 600;
    padding-left: 8px;
    color: gray;
}

.comments, .recycles, .likes, .messages {
    display: flex;
    flex-direction: row;
    margin-right: 42px;
}
